<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='action_item' />
      <input type='submit' value='Add an item' />
    </form>

    <form>
    <input type='text' name='find_and_edit' />
    <input type='submit' value='Edit an item' />
    </form>

    <p>
      <%= LIST_OF_ACTIONS %>
    </p>

  </body>
</html>
