<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='action_item' />
      <input type='submit' value='Add an item' />
    </form>

    <form>
    <input type='text' name='find' value='name of item' />
    <input type='text' name='edit' value='change to'  /><input type='submit'/>
    </form>

    <p>
      <%= LIST_OF_ACTIONS %>
    </p>

  </body>
</html>
