<html>
  <head></head>
  <body>
    <p>
      <strong>WELCOME TO YOUR TO DO LIST</strong>
    </p>

    <form>
      <input type='text' name='action_item' />
      <input type='submit' value='Add an action' />
    </form>

    <form>
    <input type='text' name='find' value='name of action' />
    <input type='text' name='edit' value='change to'  /><input type='submit' value="Edit an action"/>
    </form>

    <form>
    <input type='text' name='complete' value='mark as complete'/><input type='submit' value="Complete an action"/>
    </form>

    <p>
      <%= LIST_OF_ACTIONS %>
    </p>

  </body>
</html>
