<html>
  <head></head>
  <body>

    <h1><strong>WELCOME TO YOUR TO DO LIST</strong></h1>

    <form>
      <input type='text' name='action_item' />
      <input type='submit' value='Add an action' />
    </form>

    <form>
    <input type='text' name='find' value='name of action' />
    <input type='text' name='edit' value='change to'  /><input type='submit' value="Edit an action"/>
    </form>

    <form>
    <input type='text' name='complete' value='mark as complete'/><input type='submit' value="Complete an action"/>
    </form>

    <h4><strong>Here is your ToDo List:</strong></h4><br>  <%= LIST_OF_ACTIONS %>

  </body>
</html>
