<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='action_item' />
      <input type='submit' value='Add a todo' />
    </form>
    <p>
      <%= list_of_actions %>
    </p>
  </body>
</html>
