<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/index.css'/>
  </head>

  <body>
    <div class='centre_column'>
      <h2><strong>WELCOME TO YOUR TO DO LIST</strong></h2>

      <div class='add_item'>
        <form>
          <input type='text' name='add_item' placeholder='What needs to be done?' size='80' required/>
          <input type='submit' value='Add' />
        </form>
      </div>

      <div class='edit_complete'>
        <div class='edit'>
          <form>
            <input type='text' name='find' placeholder='name of action' required/>
            <input type='text' name='edit' placeholder='change to'required/>
            <input type='submit' value="Edit" class='edit_button'/>
          </form>
        </div>

        <div class='complete'>
          <form>
            <input type='text' name='complete' placeholder='mark as complete' required/>
            <input type='submit' value="Complete"/>
          </form>
        </div>
      </div>

      <div class='success_message'>
        <p><%= message %></p>
      </div>

      <div class='items_left_and_list_views'>
        <div class='count_active'>
          <p><!-- result --> _ items left to complete</p>
        </div>

        <div class='list_buttons'>
          <form>
            <p><input type='submit' name="display_all" value="All"/><input type='submit' name="display_active" value="Active"/><input type='submit' name="display_complete" value="Completed"/></p>
          </form>
        </div>
      </div>

      <div class='display_postgres'>
        <p><%= display_list %></p> <!-- can run each do in erb, but isn't usually shown until the user clicks, so doesn't work when you first load the page --> <!-- use yield here and define index.erb as layout, then set each /page as it's own erb file to be input here -->
      </div>

      <div class='delete'
        <form>
          <input type='text' name="delete" placeholder='delete a todo' required/>
          <input type='submit' value="Delete"/>
        </form>
      </div>
    </div>
  </body>

</html>
